{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 col-3 d-flex" style="margin-top:20px; margin-left:20px">
    <div class="input-group date" id="datepicker">
        <input type="text" id="selected-date-heatmap" class="form-control" placeholder="Date" value="{{selectedDate}}">
        <div class="input-group-addon">
            <span class="input-group-text bg-white d-block">
                <i class="fa fa-calendar"></i>
            </span>
        </div>
    </div>
    <div>
        <form id="query_data_form" method="POST">
        {{query_data_form.hidden_tag()}}
        <input id="query_data" name="query_data" type="hidden" class="btn btn-outline btn-success" value="">
        {{query_data_form.submit(class="btn btn-outline btn-success")}}
        </form>
    </div>
</div>
<br>
<div id="heapmap-container">
    {{ body_html | safe }}
</div>
{% endblock %}



{% block script %}
  <script src="static/scripts/end_script.js"></script>
{% endblock %}